//- META INFORMATION
- const page_title = 'Website Name'
- const relativePath = '.'
- const meta_title = 'this is meta title'
- const meta_keywords = 'this is meta keyworks'
- const meta_description = 'this is meta description'
- const meta_og_url = 'http://website.com'
- const currentPage = 'home'

//- EXTERNAL LIBRARIES
- const isJquery = true
- const isWowEffects = true
- const isSwiper = true

doctype html
html(lang="ja")
    head
        //- HEAD
        include ./_inc/_head.pug

    body.topPage

        //- MAIN CONTENT
        main.siteContent(role="main")

            section.cemetarySec
                .cemetarySec__inr
                    .cemetarySec__topCont
                        .cemetarySec__topContInr
                            .cemetarySec__topContInfo
                                p.cemetarySec__topContText 墓　地　案　内
                            h1.cemetarySec__topContBottomText ご都合に合わせてお選びいただける<br>花と緑に囲まれぬくもりと安らぎに包まれた長福寺墓地
                    .cemetarySec__bottomCont
                        ul.cemetarySec__bottomContList
                            li.cemetarySec__bottomContListItem
                                figure.cemetarySec__bottomContItemFig
                                    img.cemetarySec__bottomContItemImg(src=`${relativePath}/_assets/images/cemetaryTopSec/top01_pc.png`, alt="永代供養合祀墓")
                                .cemetarySec__bottomContItemText
                                    p.cemetarySec__bottomContTopText 永代供養合祀墓
                                    p.cemetarySec__bottomContText (宗旨・宗派不問）
                                    p.cemetarySec__bottomContText (継承者不要）
                            li.cemetarySec__bottomContListItem
                                figure.cemetarySec__bottomContItemFig
                                    img.cemetarySec__bottomContItemImg(src=`${relativePath}/_assets/images/cemetaryTopSec/top02_pc.png`, alt="樹木葬")
                                .cemetarySec__bottomContItemText
                                    p.cemetarySec__bottomContTopText 樹木葬
                                    p.cemetarySec__bottomContText (宗旨・宗派不問）
                                    p.cemetarySec__bottomContText (継承者不要）
                            li.cemetarySec__bottomContListItem
                                figure.cemetarySec__bottomContItemFig
                                    img.cemetarySec__bottomContItemImg(src=`${relativePath}/_assets/images/cemetaryTopSec/top03_pc.png`, alt="一般墓地")
                                .cemetarySec__bottomContItemText
                                    p.cemetarySec__bottomContTopText 一般墓地
                                    p.cemetarySec__bottomContText (ご入檀限定)
            section.cemetaryMiddleSec
                .cemetaryMiddleSec__inr
                    ul.cemetaryMiddleSec__contList
                        li.cemetaryMiddleSec__contListItem
                            .cemetaryMiddleSec__itemTitle
                                h2.cemetaryMiddleSec__itemTitleText.red 永代供養合祀墓
                                .cemetaryMiddleSec__itemTitleInfo
                                    p.cemetaryMiddleSec__itemTitleInfoLeft.bgRed.font 宗旨・宗派不問
                                    p.cemetaryMiddleSec__itemTitleInfoRight.bgRed.font 継承者不要
                            .cemetaryMiddleSec__itemTopDesc
                                p.cemetaryMiddleSec__itemTopDescText.font お墓の維持・継承が困難な方やご自身の永眠の地をお探しの方のために、<br> 花に囲まれた山内にて、当山が永代にわたって故人を供養してまいります。
                            .cemetaryMiddleSec__itemMiddle
                                .cemetaryMiddleSec__itemMiddleDesc
                                    .cemetaryMiddleSec__itemMiddleDescTextCont
                                        p.cemetaryMiddleSec__itemMiddleDescText 供養料
                                        ul.cemetaryMiddleSec__itemMiddleDescPriceList
                                            li.cemetaryMiddleSec__itemMiddleDescPriceItem
                                                p.cemetaryMiddleSec__itemMiddleDescPriceText.font <span>合</span><span>祀</span>
                                                p.cemetaryMiddleSec__itemMiddleDescPriceTextSec.font 一霊
                                                p.cemetaryMiddleSec__itemMiddleDescPrice <span class="cemetaryMiddleSec__price">10</span>万円
                                            li.cemetaryMiddleSec__itemMiddleDescPriceItem
                                                p.cemetaryMiddleSec__itemMiddleDescPriceText.font <span>骨</span><span>壷</span><span>安</span><span>置</span>
                                                p.cemetaryMiddleSec__itemMiddleDescPriceTextSec.font 一霊
                                                .cemetaryMiddleSec__itemMiddleDescRight
                                                    p.cemetaryMiddleSec__itemMiddleDescPrice <span class="cemetaryMiddleSec__price">1</span>万円
                                                    p.cemetaryMiddleSec__itemMiddleDescPriceDetails.font (1年につき**延長可能)
                                            li.cemetaryMiddleSec__itemMiddleDescPriceItem
                                                p.cemetaryMiddleSec__itemMiddleDescPriceText.font <span>永</span><span>代</span><span>骨</span><span>壺</span></span>安</span><span>置</span>
                                                p.cemetaryMiddleSec__itemMiddleDescPriceTextSec.font 一霊
                                                p.cemetaryMiddleSec__itemMiddleDescPrice <span class="cemetaryMiddleSec__price">50</span>万円
                                    figure.cemetaryMiddleSec__itemMiddleDescFig
                                        img.cemetaryMiddleSec__itemMiddleDescImg(src=`${relativePath}/_assets/images/cemetaryMiddleSec/top01_pc.jpg`, alt="永代供養合祀墓")
                                .cemetaryMiddleSec__itemMiddleDescBottom
                                    figure.cemetaryMiddleSec__itemMiddleDescBottomFig
                                        img.cemetaryMiddleSec__itemMiddleDescBottomImg(src=`${relativePath}/_assets/images/cemetaryMiddleSec/top02_pc.jpg`, alt="永代供養合祀墓")
                                    figure.cemetaryMiddleSec__itemMiddleDescBottomFig
                                        img.cemetaryMiddleSec__itemMiddleDescBottomImg(src=`${relativePath}/_assets/images/cemetaryMiddleSec/top03_pc.jpg`, alt="永代供養合祀墓")
                            .cemetaryMiddleSec__itemBottom
                                p.cemetaryMiddleSec__itemBottomText *毎年、年3回（お盆・春彼岸・秋彼岸時）合同供養を行います。
                                p.cemetaryMiddleSec__itemBottomText *生前の申し込みも承ります。
                                p.cemetaryMiddleSec__itemBottomText *ご希望の方に限り墓誌彫刻(別途費用)をお受いたします。

                        li.cemetaryMiddleSec__contListItem
                            .cemetaryMiddleSec__itemTitle
                                h2.cemetaryMiddleSec__itemTitleText.green 樹木葬
                                .cemetaryMiddleSec__itemTitleInfo
                                    p.cemetaryMiddleSec__itemTitleInfoLeft.bgGreen.font 宗旨・宗派不問
                                    p.cemetaryMiddleSec__itemTitleInfoRight.bgGreen.font 継承者不要
                            .cemetaryMiddleSec__itemTopDesc
                                p.cemetaryMiddleSec__itemTopDescText.font 観音様に見守られ、春には桜や花が咲き誇り、秋には敷地内の銀杏やけやきなどの樹木が色づき、<br>四季折々の景色が自然墓を彩ります。ご夫婦などの少人数でプライベートな空間をご希望の方向けのお墓です。
                            .cemetaryMiddleSec__itemMiddle
                                .cemetaryMiddleSec__itemMiddleDesc
                                    .cemetaryMiddleSec__itemMiddleDescTextCont
                                        p.cemetaryMiddleSec__itemMiddleDescText 供養料
                                        ul.cemetaryMiddleSec__itemMiddleDescPriceList
                                            li.cemetaryMiddleSec__itemMiddleDescPriceItem
                                                p.cemetaryMiddleSec__itemMiddleDescPriceText.font <span>永</span><span>代</span><span>供</span><span>養</span>
                                                p.cemetaryMiddleSec__itemMiddleDescPriceTextSec.font.second 一区画
                                                .cemetaryMiddleSec__itemMiddleDescRight
                                                    p.cemetaryMiddleSec__itemMiddleDescPrice <span class="cemetaryMiddleSec__price">65</span>万円
                                                    p.cemetaryMiddleSec__itemMiddleDescPriceDetails.font.second (原則2名まで)
                                    figure.cemetaryMiddleSec__itemMiddleDescFig
                                        img.cemetaryMiddleSec__itemMiddleDescImg(src=`${relativePath}/_assets/images/cemetaryMiddleSec/top04_pc.jpg`, alt="樹木葬")
                                .cemetaryMiddleSec__itemMiddleDescBottom
                                    figure.cemetaryMiddleSec__itemMiddleDescBottomFig
                                        img.cemetaryMiddleSec__itemMiddleDescBottomImg(src=`${relativePath}/_assets/images/cemetaryMiddleSec/top05_pc.jpg`, alt="樹木葬")
                                    figure.cemetaryMiddleSec__itemMiddleDescBottomFig
                                        img.cemetaryMiddleSec__itemMiddleDescBottomImg(src=`${relativePath}/_assets/images/cemetaryMiddleSec/top06_pc.jpg`, alt="樹木葬")
                            .cemetaryMiddleSec__itemBottom
                                p.cemetaryMiddleSec__itemBottomText *毎年、年3回（お盆・春彼岸・秋彼岸時）合同供養を行います。
                                p.cemetaryMiddleSec__itemBottomText *生前の申し込みも承ります。
                                p.cemetaryMiddleSec__itemBottomText *ご希望の方に限り墓誌彫刻(別途費用)をお受けいたします。

                        li.cemetaryMiddleSec__contListItem
                            .cemetaryMiddleSec__itemTitle
                                h2.cemetaryMiddleSec__itemTitleText.blue 一般墓地
                                .cemetaryMiddleSec__itemTitleInfo
                                    p.cemetaryMiddleSec__itemTitleInfoLeft.bgBlue.font ご入檀限定
                            .cemetaryMiddleSec__itemTopDesc
                                p.cemetaryMiddleSec__itemTopDescText.font 陽光うららかな日差しがそそぐ墓地は、ご先祖のみならずお参りの方にも心地よい空間となっております。<br>バリアフリーでお参りできる区画から、高台南向きの区画まで様々な墓地がございます。<br>※当山へ御入檀のかたのみとさせて頂きます。
                            .cemetaryMiddleSec__itemMiddle
                                .cemetaryMiddleSec__itemMiddleDesc
                                    .cemetaryMiddleSec__itemMiddleDescTextCont
                                        p.cemetaryMiddleSec__itemMiddleDescText 供養料
                                        ul.cemetaryMiddleSec__itemMiddleDescPriceList
                                            li.cemetaryMiddleSec__itemMiddleDescPriceItem
                                                .cemetaryMiddleSec__itemMiddleDescLeft
                                                    p.cemetaryMiddleSec__itemMiddleDescPriceText.font 広さ　1.2㎡
                                                    p.cemetaryMiddleSec__itemMiddleDescWideDetails.font (間口1ｍ×奥行1.2ｍ）
                                                p.cemetaryMiddleSec__itemMiddleDescPrice <span class="cemetaryMiddleSec__price">50~55</span>万円
                                            li.cemetaryMiddleSec__itemMiddleDescPriceItem
                                                .cemetaryMiddleSec__itemMiddleDescLeft
                                                    p.cemetaryMiddleSec__itemMiddleDescPriceText.font 広さ　1.5㎡
                                                    p.cemetaryMiddleSec__itemMiddleDescWideDetails.font (間口1ｍ×奥行1.5ｍ）
                                                p.cemetaryMiddleSec__itemMiddleDescPrice <span class="cemetaryMiddleSec__price">60</span>万円
                                            li.cemetaryMiddleSec__itemMiddleDescPriceItem
                                                .cemetaryMiddleSec__itemMiddleDescLeft
                                                    p.cemetaryMiddleSec__itemMiddleDescPriceText.font 広さ　3.78㎡
                                                    p.cemetaryMiddleSec__itemMiddleDescWideDetails.font (間口1.8ｍ×奥行2.1ｍ）
                                                p.cemetaryMiddleSec__itemMiddleDescPrice <span class="cemetaryMiddleSec__price">120</span>万円
                                            li.cemetaryMiddleSec__itemMiddleDescPriceItem.pd
                                                .cemetaryMiddleSec__itemMiddleDescLeft
                                                    p.cemetaryMiddleSec__itemMiddleDescPriceText.font 広さ　5.04㎡
                                                    p.cemetaryMiddleSec__itemMiddleDescWideDetails.font (間口2.1ｍ×奥行2.4ｍ）
                                                p.cemetaryMiddleSec__itemMiddleDescPrice <span class="cemetaryMiddleSec__price">170</span>万円
                                    figure.cemetaryMiddleSec__itemMiddleDescFig
                                        img.cemetaryMiddleSec__itemMiddleDescImg(src=`${relativePath}/_assets/images/cemetaryMiddleSec/top07_pc.jpg`, alt="一般墓地")
                                .cemetaryMiddleSec__itemMiddleDescBottom
                                    figure.cemetaryMiddleSec__itemMiddleDescBottomFig
                                        img.cemetaryMiddleSec__itemMiddleDescBottomImg(src=`${relativePath}/_assets/images/cemetaryMiddleSec/top08_pc.jpg`, alt="一般墓地")
                                    figure.cemetaryMiddleSec__itemMiddleDescBottomFig
                                        img.cemetaryMiddleSec__itemMiddleDescBottomImg(src=`${relativePath}/_assets/images/cemetaryMiddleSec/top09_pc.jpg`, alt="一般墓地")
                            .cemetaryMiddleSec__itemBottom
                                p.cemetaryMiddleSec__itemBottomText *墓地管理料は年間5千円となります。
                                p.cemetaryMiddleSec__itemBottomText *墓石代は上記に含まれておりません。


            section.cemetaryBottomSec
                .cemetaryBottomSec__inr
                    .cemetaryBottomSec__leftCont
                        p.cemetaryBottomSec__leftContact.font お電話でのお問い合わせ
                        p.cemetaryBottomSec__leftTel.font 047-485-4030
                        p.cemetaryBottomSec__leftHourText.font ご質問・ご見学予約はお気軽にご相談くださいませ。<br>受付時間10 : 00 〜 16 : 00
                    .cemetaryBottomSec__rightCont
                        p.cemetaryBottomSec__rightContact.font ネットでのお問い合わせ
                        a.cemetaryBottomSec__rightContactBtnLink(href="#")
                            figure.cemetaryBottomSec__rightContBtnIcon
                                img.cemetaryBottomSec__rightContactBtnIconImg(src=`${relativePath}/_assets/images/cemetaryBottomSec/mailIcon.png`, alt="お問い合わせ")
                            p.cemetaryBottomSec__rightContactBtn.font お問い合わせはこちら


        //- //- FOOTER:
        //- include ./_inc/_siteFooter.pug
